<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Admin Dashboard</title>
</head>
<body>
  <main>
    <nav>
      <ul class="sidebar">
        <li><a href="page/frontpage.html">Frontpage</a></li>
        <li><a href="page/aboutus.html">About Us</a></li>
        <li><a href="page/projects.html">Projects</a></li>
        <li><a href="page/designinterior.html">Design Interior</a></li>
        <li><a href="page/workshop.html">Workshop</a></li>
        <li><a href="page/contact.html">Contact</a></li>
        <li><a href="page/ecommerce.html">eCommerce</a></li>
      </ul>
    </nav>
    <div class="logo-container">
      <img src="assets/logo/madjulogo.jpeg" alt="Logo" class="logo-image">
    </div>
    <!-- Content of each page will be loaded here -->
  </main>
  <script src="js/scripts.js"></script>
</body>
</html>
